@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --clr-primary-400: hsl(215, 51%, 70%);
        --clr-primary-700: hsl(178, 86%, 51%);
        --clr-neutral-900: hsl(217, 54%, 11%);
        --clr-neutral-700: hsl(216, 50%, 16%);
        --clr-neutral-500: hsl(215, 32%, 27%);
        --clr-neutral-100: hsl(0, 0%, 100%);
        --line-colour: hsl(215, 32%, 27%);

}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


body{
    font-family:'Kumbh Sans', sans-serif;
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    display: flex;
    justify-content: center;
      align-items: center;
      min-height: 100vh;
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-position: right 50vw bottom 40vh,left 50vw top 45vh;
    background-repeat: no-repeat,no-repeat;
}

.card{
    background-color: var(--clr-neutral-700);
    position: relative;
    border-radius: .8rem;
    padding:1px;
    margin-top:5vh;
    box-shadow:0 1rem 3rem rgba(0,0,0,0.5);
    z-index: 1;
    width: 350px;
    height: 375px;
}

.card::before{
  content: "";
    width: 100%;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("./images/bg-pattern-card.svg");
    z-index: -1;
    border-radius: .8rem .8rem 0rem 0rem;
}

.image-container{
    display: flex;
      justify-content: center;
      margin-top: 87px;
}

.card_profile{
  border-radius: 50%;
  border: 5px solid white;
}

.card_info h1{
  font-size: 18px;
  word-break: break-all;
  font-weight: 700;
  text-align: center;
  color: var(--clr-primary-700);
  margin-top: 19px;
  letter-spacing: .1px;
}

.card_info h1 span{
  word-break: break-all;
  font-size:18px;
  font-weight: 400;
  text-align: center;
  color: var(--clr-neutral-100);
}

.card_info p{
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: var(--clr-neutral-100);
}

.card_info{
  padding-bottom:25px;
  border-bottom: 1px solid #d4d4d7;
}

.card_profile{
    height:6rem;
    width: 6rem;
}

.profile_info{
  display: flex;
  width: 250px;
  justify-content: space-between;
  margin: auto;
  font-size: 15px;
  margin-top: 20px;
}
.profile_info_box{
  text-align: center;
}

.profile_info_number{
  color: var(--clr-primary-700);
    font-weight: 600;
    margin: 0;
    font-size: 18px;
}

.profile_info_text{
  font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--clr-neutral-100);
}